<app-message-panel [currentUser]="'andy'" [messages]='messages'></app-message-panel>
<p>Current user is <b>Andy</b></p>
<p>
  <label>Mock message for user: </label>
  <span>
    <select [(ngModel)]='selectedUser'>
      <option *ngFor="let user of users" [value]="user">{{user}}</option>
    </select>
  </span>
</p>

<textarea class="message-box" placeholder="mocked message" [(ngModel)]='newMessage'></textarea>

<div class="action-buttons">
  <button (click)="mockUserMessage(newMessage)">Send message from '{{selectedUser}}'</button>
  <button (click)="mockSystemMessage(newMessage)">Send system message</button>
</div>